/* Inicio Contacto */

    /* Inicio Contacto Título */

    .seccionContacto {
        height: 20rem;
        background-color: #ffffff;
        margin-inline: auto;
        margin-bottom: 2rem;
    }

    .seccionContactoTitulo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        h2 {
            color: #363940;
            text-transform: uppercase;
            font-size: 3rem;
            margin-top: 5rem;
            font-weight: bold;
        }

        p {
            color: #505050;
            font-size: 2rem;
        }
    }

    /* Fin Contacto Título */

    /* Inicio Info Contacto */

    .seccionInfoContacto {
        height: 76rem;
        background-color: #f8f8f8;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .infoGeneral {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-left: 5rem;
        margin-block: 2rem;

        span {
            margin-top: 5rem;
        }

        .text-center {
            p{
                margin-bottom: 6.5rem;
            }
        }
    }

    .infoGeneral h3, .formulario h3, .mapa h3, .redesSociales h3 {
        display: block;
        color: #363940;
        text-transform: uppercase;
        font-size: 2.3rem;
        margin-top: 5rem;
        font-weight: bold;
        text-align: center;
        height: 5rem;
    }

    /* Inicio CSS Formulario */

    .formulario {
        text-align: center;
        font-size: 1.8rem;
    }

    .botonFormulario {
        color: #363940;
        font-size: 1.5rem;
        padding: 0.5rem;
        text-align: center;
        background: none;
        border-color: #a9a9a9;
    }

    .botonEnviar, .botonLimpiar {
        width: 15rem;
        margin-inline: 3rem;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        width: 33.3%;
        align-items: center;
        border-inline: 0.2rem solid #505050;
        margin-block: 2rem;
    }

    .formularioContacto {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 3rem;
    }

    .textInfotmacion {
        height: 13.3rem;
    }

    /* Fin CSS Formulario */

    .mapa {
        display: flex;
        flex-direction: column;
        width: 33.3%;
        margin-block: 2rem;
    }

    iframe {
        margin-top: 5rem;
        display: flex;

        .mapa {
            border: 1rem solid #363940;
        }
    }

    .infoContacto {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    input, textarea {
        width: 40rem;
    }

    form {
        .formulario {
            align-items: baseline;
        }
    }

    label {
        align-items: baseline;
    }

    /* Fin Info Contacto */

    /* Inicio Sección RRSS */

    .seccionRRSS {
        height: 30rem;
        background-color: #ffffff;
    }

    .redesSociales p {
        color: #505050;
        font-size: 2rem;
        text-align: center;
        margin-top: 4rem;
    }

    .botonesRRSS {
        color: #363940;
        margin-block: 5rem;
        font-size: 3.5rem;
    }

    .botoneraRRSS {
        text-align: center;
    }

    .ov-btn-grow-ellipse {
        background: #fff; 
        color: #363940; 
        border: 2px solid #505050; 
        padding: 6px 31px;
        border-radius: 16px; 
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: inline-block;
        margin-inline: 2rem;

        &:hover {
            color: #fff;
        }

        &::after {
            content: "";
            background: #363940; 
            position: absolute;
            z-index: -1;
            padding: 16px 20px;
            display: block;
            border-radius: 50%;
            left: -50%;
            right: -50%;
            top: -150%;
            bottom: -150%;
            transform: scale(0, 0);
            transition: all 0.3s ease;
        }

        &:hover::after {
            transition: all 0.3s ease-out;
            transform: scale(1, 1);
        }
    }

    

    /* Fin Sección RRSS */

/* Fin Contacto */

/* ============================= */