/* Inicio Contacto */

    /* Inicio Contacto Título */

    .seccionContacto {
        height: 20rem;
        background-color: #ffffff;
        margin-inline: auto;
    }

    .seccionContactoTitulo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        h2 {
            color: #363940;
            text-transform: uppercase;
            font-size: 3rem;
            margin-top: 5rem;
            font-weight: bold;
        }

        p {
            color: #505050;
            font-size: 2rem;
        }
    }

    /* Fin Contacto Título */

    /* Inicio Info Contacto */

    .seccionInfoContacto {
        height: 89rem;
        background-color: #f8f8f8;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mainContacto {
        height: max-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .infoGeneral {
        display: flex;
        width: 33.3%;
        margin-left: 0rem;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: #f8f8f8;

        span {
            margin-top: 1rem;
            margin-inline: 3rem;
        }

        .text-center {
            p{
                margin-bottom: 6.5rem;
            }
        }
    }

    .infoGeneral h3, .formulario h3, .mapa h3, .redesSociales h3 {
        display: block;
        color: #363940;
        text-transform: uppercase;
        font-size: 2.3rem;
        margin-top: 5rem;
        font-weight: bold;
        text-align: center;
        height: 5rem;
    }

    /* Inicio CSS Formulario */

    .botonFormulario {
        color: #363940;
        font-size: 1.5rem;
        padding: 0.5rem;
        text-align: center;
        background: none;
        border-color: #a9a9a9;
    }

    .botonEnviar, .botonLimpiar {
        width: 15rem;
        margin-inline: 3rem;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        width: 33.3%;
        align-items: center;
        border-inline: 0.2rem solid #505050;
        background-color: #f8f8f8;
        text-align: center;
        font-size: 1.8rem;
    }

    .formularioContacto {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 3rem;
    }

    .textInfotmacion {
        height: 13.3rem;
    }

    /* Fin CSS Formulario */

    .infoMapa {        
        display: flex;
        flex-direction: column;
        width: 33.3%;
        align-items: center;
        background-color: #f8f8f8;

        .datos {
            h4 {
                font-size: 2rem;
                text-align: center;
            }
            p {
                font-size: 2rem;
                text-align: center;
            }
        }
    }

    .tituloMapa {
        h3 {
            display: block;
            color: #363940;
            text-transform: uppercase;
            font-size: 2.3rem;
            margin-top: 5rem;
            font-weight: bold;
            text-align: center;
            height: 5rem;
        }        
    }

    .mapa {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-block: 2rem;
        align-items: center;
        
    }

    iframe {
        margin-top: 1rem;
        display: flex;

        .mapa {
            border: 1rem solid #363940;
        }
    }

    .infoContacto {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    input, textarea, select {
        width: 40rem;
    }

    form {
        .formulario {
            align-items: baseline;
        }
    }

    label {
        align-items: baseline;
    }

    .datos {
        a {
            text-decoration: none;

                &:link, &:visited {
                    text-decoration: none;
                    color: #505050;
                    font-size: 2rem;
                }
        }
    }

    /* Fin Info Contacto */

    /* Inicio Sección RRSS */

    .seccionRRSS {
        height: 30rem;
        background-color: #ffffff;
    }

    .redesSociales {
        p {
            color: #505050;
            font-size: 2rem;
            text-align: center;
            margin-top: 4rem;
        }
    }

    .botonesRRSS {
        color: #363940;
        margin-block: 5rem;
        font-size: 3.5rem;
    }

    .botoneraRRSS {
        text-align: center;
    }

    .ov-btn-grow-ellipse {
        background: #fff; 
        color: #363940; 
        border: 2px solid #505050; 
        padding: 6px 31px;
        border-radius: 16px; 
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: inline-block;
        margin-inline: 2rem;

        &:hover {
            color: #fff;
        }

        &::after {
            content: "";
            background: #363940; 
            position: absolute;
            z-index: -1;
            padding: 16px 20px;
            display: block;
            border-radius: 50%;
            left: -50%;
            right: -50%;
            top: -150%;
            bottom: -150%;
            transform: scale(0, 0);
            transition: all 0.3s ease;
        }

        &:hover::after {
            transition: all 0.3s ease-out;
            transform: scale(1, 1);
        }
    }

    .social-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
        margin-block: 1.5rem;
    }
        
    $social-button-size: 64px;
    $social-button-icon-size: 0.4;
    $social-button-background: #fff;
    $social-button-active-color: #fff;
    $social-button-transition-time: 0.3s;
    
    $social-button-colors: (
    'mail': #0072c6,
    'facebook': #505050,
    'linkedin': #505050,
    'github': #505050,
    'codepen': #505050,
    'steam': #7da10e,
    'snapchat': #505050,
    'twitter': #505050,
    'instagram': #e4405f,
    'npmjs': #c12127,
    );
        
    .social-button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        width: $social-button-size;
        height: $social-button-size;
        text-decoration: none;
        border-radius: 10%;
        background: $social-button-background;
        text-align: center;
        
        &::after {
            content: '';
            position: absolute;
            top: -1px;
            left: 50%;
            display: block;
            width: 0;
            height: 0;
            border-radius: 10%;
            transition: $social-button-transition-time;
        }
        
        &:focus,
        &:hover {
            color: $social-button-active-color;
        
            &::after {
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            margin-left: calc(-50% - 1px);
            }
        }
        
        i, svg {
            position: relative;
            z-index: 1;
            transition: $social-button-transition-time;
        }
        
        i {
            font-size: $social-button-size * $social-button-icon-size;
        }
        
        svg {
            height: percentage($social-button-icon-size);
            width: percentage($social-button-icon-size);
        }
        
        @each $name, $color in $social-button-colors {
            &--#{$name} {
            color: $color;
        
                &::after {
                    background: $color;
                }
            }
        }
    }


    /* Fin Sección RRSS */

/* Fin Contacto */

/* ============================= */