/* ============================= */

/* Inicio Experiencia */

    /* Inicio Trayectoria */

    .cardTrayectoria {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        max-width: 30rem;
        margin-inline: 3rem;

        h3 {
            color: #363940;
        }
    }

    .iconoTrayectoria {
        text-align: center;
        font-size: 5rem;
    }

    .trayectoriaInfo {
        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 3.2rem;
        }
    }

    .parrafoTrayectoria {
        font-size: 2rem;
    }

    .fa-chevron-left, .fa-chevron-right {
        font-size: 3rem;
        color: #363940;
        margin-top: 6rem;
    }

    .carousel-indicators [data-bs-target] {
        background-color: #363940;
    }

    .carousel-item {
        text-align: center;
        margin-top: 7rem;
    }

    .carousel-indicators {
        margin-bottom: 7rem;
    }

    /* Fin Trayectoria */

    /* Inicio Testimonios */

    .testimonios {
        background-color: #f8f8f8;
        height: 31rem;
    }

    .carrusel {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .testimonio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .spot {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    
    .svg-wrapper {
        margin-top: 0;
        position: relative;
        width: 150px;
        height: 40px;
        display: inline-block;
        border-radius: 3px;
        margin-left: 5px;
        margin-right: 5px;

        &:hover #shape {
            stroke-dasharray: 50 0;
            stroke-width: 3px;
            stroke-dashoffset: 0;
            stroke: #000000;
        }
    }

    #shape {
        stroke-width: 6px;
        fill: transparent;
        stroke: #58646b;
        stroke-dasharray: 85 400;
        stroke-dashoffset: -220;
        transition: 1s all ease;
    }
    
    #text {
        margin-top: -35px;
        text-align: center;

        a {
            color: white;
            text-decoration: none;
            font-weight: 100;
            font-size: 1.1em;
        }
    }

    /* Fin Testimonios */

/* Fin Experiencia */